//*----------> Import Font Family

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

//*----------> Colors Primaty

$p-so: hsl(35, 77%, 62%);
$p-sr: hsl(5, 85%, 63%);

//*----------> Colors Neutral

$n-ow: hsl(36, 100%, 99%);
$n-gb: hsl(233, 8%, 79%);
$n-dgb: hsl(236, 13%, 42%);
$n-vdb: hsl(240, 100%, 5%);

//*----------> Colors